$column-colors-main: #4db6ac, #e57373, #ba68c8, #64b5f6, #ffca28, #ffa000;
$column-colors-votes: #009688, #e6403d, #ab47bc, #039be5, #ffb300, #f57c00;

$grey: #555;
$light-grey: #d6d6d6;
$darkest-gray: #4c4c4e;
$dark-gray: #4c4c4e;
$lightest-gray: #d6d6d6;
$yellow: #febd3b;
$teal: #008eb0;
$light-teal: #008eb0;
$dark-blue: #0e2e41;
$light-green: #00a946;
$green: #00c853;
$red: #ef5350;
$faded-red: #c33b38;
$light-purple: #9a38ab;
$purple: #ba68c8;
$gold: #febd3b;
$orange: #fe7900;
$navy: #0e2e41;
